<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white  p-10 flex items-center justify-center flex-col ">
        <h1 class="text-2xl bg-zinc-700 px-2 rounded-md tracking-tighter text-center "><%= filesName %></h1>
        <P class="mt-2 bg-zinc-700 px-2 py-1 rounded-md"><%= filedata %></P>
        <a href="/" class="text-center  inline-block mt-10 rounded-md p-3 bg-blue-600">Go Back To Home</a>
    </div>
    
    <script src="/javascripts/script.js"></script>
</body>
</html>
